body {
  font-family: 'Racing Sans One', sans-serif;
  background-color: #fffccc;
  padding: 20px;
}




header {
  text-align: center;
  background-color: #2c2929;
  color: white;
  padding: 10px;
}

h1 {
  font-size: 40px;
}

nav a.nav-link {
  color: rgb(4, 255, 0);
  font-size: 20px;
}

nav a.nav-link:hover {
  color: rgb(255, 0, 55);


}

main {
  margin: 20px;
}

p {
  font-size: 16px;
}


.para1 {
  color: rgb(0, 102, 255);
  border: 2px solid black;
  padding: 10px;
}



.para2 {
  color: rgb(8, 184, 108);
  background-color: yellow;


  padding: 15px;
}

.para3 {
  color: #c415c4;
  border: 5px  red;
  padding: 20px;
}

.special-text {
  color: orange;
  font-style: italic;
}

.cool-button {
  background-color: rgb(255, 0, 68);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.cool-button:hover {
  background-color: black; 
}

footer {
  text-align: center;
  background-color: #2b2828;
  color: white;
  padding: 10px;
}
.car-image {
  display: block;
  margin: 20px auto; 

  border: 5px solid black;
  max-width: 500px; 
}